<a href="https://colab.research.google.com/github/IgorDaniel182/Curso-em-Video/blob/main/desafios_curso_em_video.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = input('Escreva seu nome:')
print('Olá!', nome , 'Prazer em te conhecer')

Escreva seu nome:Ana
Olá! Ana Prazer em te conhecer

In [ ]:
dia = input('Digite o dia em que você nasceu:')
mes = input('Digite o mes em que voce nasceu:')
ano = input('Digite o ano em que voce nasceu:')
print('Você nasceu no dia {} do mes {} do ano {}, correto?'.format(dia ,mes ,ano))

Digite o dia em que você nasceu:19
Digite o mes em que voce nasceu:03
Digite o ano em que voce nasceu:2004
Você nasceu no dia 19 do mes 03 do ano 2004, correto?

In [ ]:
n1 = int(input('Digite um número:'))
n2 = int(input('Digite mais um número:'))
s = n1+n2
print('A soma vale:', s)

In [ ]:
n1 = int(input('Digite um número:'))
n2 = int(input('Digite mais um número:'))
s = n1+n2
#print('A soma entre', n1 , 'e' , n2 ,'é:', s )
print('A soma entre {} e {} é {}'.format(n1, n2, s))

In [ ]:
n1 = int(input('Digite um numero:'))
n2 = int(input('Digite outro numero:'))
s = n1+n2
print('A soma dos seus numeros é:' , s,)

In [ ]:
n = input('digite algo:')
print('oque você colocou é algo:' ,n.isupper(), 'em relacao a ser maiusculo') 
print('oque você colocou é algo:' ,n.isalnum(), 'em relacao a ser numero')

In [ ]:
#desafio 5
n = int(input('digite um numero inteiro: '))
n1 = n+1
n2 = n-1
print('O sucessor do número escolhido é {} e o antecessor do número escolhido é {}'.format(n1, n2))

digite um numero inteiro: 1
O sucessor do número escolhido é 2 e o antecessor do número escolhido é 0

In [ ]:
#desafio 6
n = float(input('Digite um numero '))
n1 = n*n
n2 = n**3
n3 = n**2
print('O dobro do seu número é:{}, o triplo do seu número é:{} e o quadrado do seu número é:{}'.format(n1, n2, n3))

Digite um numero 2
O dobro do seu número é:4.0, o triplo do seu número é:8.0 e o quadrado do seu número é:4.0

In [ ]:
#desafio 7
n1 = float(input('Digite sua primeira nota: '))
n2 = float(input('Digite sua segunda nota: '))
s = n1+n2
d = s/2
print('A sua nota é: {}'.format(d))

Digite sua primeira nota: 7
Digite sua segunda nota: 7
A sua nota é: 7.0

In [ ]:
#desafio 8
n = float(input('digite um numero em metros: '))
n1 = n*100
n2 = n*1000
print('O numero transformado para centímetros é {} e o transformado em milimetros é {}'.format(n1,n2))

digite um numero em metros: 1
O numero transformado para centímetros é 100.0 e o transformado em milimetros é 1000.0

In [ ]:
#desafio 9
n = int(input('Digite um número: '))
n0 = n*0
n1 = n*1
n2 = n*2
n3 = n*3
n4 = n*4
n5 = n*5
n6 = n*6
n7 = n*7
n8 = n*8
n9 = n*9
n10 = n*10
print('A tabuada do seu numero é:{},{},{},{},{},{},{},{},{},{}'.format(n0,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10))

Digite um número: 2
A tabuada do seu numero é:0,2,4,6,8,10,12,14,16,18

In [ ]:
#desafio 10
n = float(input('Quanto de dinheiro você tem na sua carteira? '))
n1 = n*3.37
print('Em dólares, o dinheiro que você tem é:',s,'Dólares')

Quanto de dinheiro você tem na sua carteira? 2
Em dólares, o dinheiro que você tem é: 14.0 Dólares

In [ ]:
#desafio 11
n1 = float(input('Qual a medida da largura do objeto que você quer a área? '))
n2 = float(input('Qual a medida da altura do objeto que você quer a área? '))
a = n1*n2
l = a/2
print('A quantidade litros que você vai precisar de tinta para pintar toda a área é de: ', l)

Qual a medida da largura do objeto que você quer a área? 10
Qual a medida da altura do objeto que você quer a área? 10
A quantidade litros que você vai precisar de tinta para pintar toda a área é de:  50.0

In [ ]:
#desafio 12
n = float(input('Digite o preço de algum produto: ')) 
n1 = n*5
n2 = n1/100
n3 = n-n2
print('O preco do produto com desconto de 5% é de: {} reais'.format(n3))

Digite o preço de algum produto: 100
O preco do produto com desconto de 5% é de: 95.0 reais

In [ ]:
#desafio 13
n = float(input('Digite seu salário: '))
n1 = n*15
n2 = n1/100
n3 = n+n2
print('O seu salário com 15% de aumento, é de:',n3)

Digite seu salário: 11.100
O seu salário com 15% de aumento, é de: 12.765

In [2]:
#Conversor de temperatura 
celsius = float(input("Digite a temperatura em Celsius: "))
fahrenheit = ((9 * celsius)/5)+32
print("A temperatura transformada para Fahrenheit é: " , fahrenheit )

Digite a temperatura em Celsius: 35
A temperatura transformada para Fahrenheit é:  95.0

In [13]:
#De uma forma mais complexa:
# km = float(input("Quantos KM´s foram rodados durante o uso do carro? "))
#dias = int(input("Quantos dias o carro foi alugado? ")) 
#dia = 60 * dias
#kms = 0.15 * km
#total = dia + kms
#print("Você deve pagar:", total , "pelo uso do carro nesses dias e km´s rodados")


#De uma forma simplificada: 
km = float(input("Quantos KM´s foram rodados durante o uso do carro? "))
dias = int(input("Quantos dias o carro foi alugado? "))
pago = (60 * dias) + (0.15 * km)
print("Você deve pagar: R${:.2f}" .format(pago))

Quantos KM´s foram rodados durante o uso do carro? 200
Quantos dias o carro foi alugado? 2
Você deve pagar: R$150.00

In [17]:
#Do meu modo:
#real = float(input("Digite um número: "))
#inteiro = real // 1 
#print("Seu número inteiro é: {}".format(inteiro))
from math import ceil

Digite um número: 21.2133
Seu número inteiro é: 21.0